:root{
    --bg-color: #0f0f0f;
    --primary-color: #1F1F1F;
    --second-color: #292929;
    --icon-primary: #FFFFFF;
    --icon-second: #A9A5A5;
    --receita-color: #64FF7D;
    --despesas-color: #FF6464;

    color: var(--icon-second);

    
}

@media screen and (max-width: 500px){
    .infoCard{
        max-width: 360px;
    }
    
}

@media screen and (min-width: 720px){
    .infoCard, .menu{
        max-width: 700px;
    }
    
}

.items{
    color: white;
}

.title{
    background-color: var(--second-color);
    border-radius: 0.8rem 0.8rem 0 0;
}

